@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }

  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin body-copy-text {

    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;  

    @include tablet {
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 400;
    }

  }

  

  @mixin footer-copy-text {

    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;

    @include tablet {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    }

  }

  @mixin button-lable-text {

    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;

    @include tablet {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 700;
    }

  }
