.hero__wrap {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
}
.hero__image {
  object-fit: cover;
  object-position: center;
  height: 30vh;
  width: 100%;
  position: relative;
}
.hero__heading {
  position: absolute;
  color: #FFFFFF;
  font-family: "AvenirNext-Bold";
  width: 90%;
  left: 1.6rem;
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 70vh;
  }
  .hero__heading {
    left: 2.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__heading {
    left: 6.3rem;
  }
}

.about-section {
  padding-bottom: 1.6rem;
}
.about-section__main-heading {
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
  font-family: "AvenirNext-Bold";
}
.about-section__img {
  object-fit: cover;
  width: 100%;
}
.about-section__img-wrapper {
  width: auto;
  padding: 0 1.6rem 1.6rem 1.6rem;
}
.about-section__copy-section {
  padding: 0 1.6rem 1.6rem 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about-section__copy-section {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
  }
}
.about-section__secondary-heading {
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.about-section__description {
  padding: 1.6rem 1.6rem 0 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about-section__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .about-section__main-heading {
    padding-left: 2.4rem;
  }
  .about-section__img-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
  .about-section__copy-section {
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 700;
  }
  .about-section__secondary-heading {
    margin-left: 10%;
    margin-right: 10%;
  }
  .about-section__text-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .about-section__main-heading {
    padding-left: 6.3rem;
  }
  .about-section__copy-section {
    font-size: 1.8rem;
    font-weight: 900;
    width: 50%;
  }
  .about-section__copy-section-name {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .about-section__img {
    height: 60vh;
  }
}

.gallery {
  padding-top: 2.4rem;
  background-color: #FAFAFA;
}
.gallery__heading {
  padding: 0 1.6rem 1.6rem 1.6rem;
}
.gallery__img-wrapper {
  width: auto;
  padding: 0 1.6rem 0 1.6rem;
}
.gallery__img {
  object-fit: cover;
  width: 100%;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 3.4rem;
    padding-bottom: 2.4rem;
  }
  .gallery__heading {
    padding-left: 3.6rem;
  }
  .gallery__img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .gallery__img {
    width: 30%;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__heading {
    padding-left: 6.3rem;
  }
  .gallery__img-wrapper {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    gap: 3.6rem;
  }
  .gallery__img {
    filter: grayscale(100%);
  }
  .gallery__img:hover {
    filter: none;
  }
}

.comment {
  padding: 1.6rem;
  padding-bottom: 0;
}
.comment__element {
  display: flex;
  flex-direction: column;
}
.comment__form-label {
  color: #E1E1E1;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  padding-top: 1.6rem;
  font-family: "AvenirNext-Demi";
}
.comment__form-input::placeholder {
  padding-left: 1rem;
  font-size: 1.6rem;
  font-family: "AvenirNext-Regular";
}
.comment__form-textarea::placeholder {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.6rem;
  font-family: "AvenirNext-Regular";
}
.comment__form-input {
  height: 4.5rem;
  border-radius: 0.7rem;
  border: 0.2rem solid #E1E1E1;
  background-color: #FAFAFA;
}
.comment__form-textarea {
  border-radius: 0.7rem;
  border: 0.2rem solid #E1E1E1;
  background-color: #FAFAFA;
  height: 10rem;
}
.comment__button {
  width: 100%;
  height: 5.5rem;
  border-radius: 0.7rem;
  border: 0;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-family: "AvenirNext-Demi";
  margin-top: 1.6rem;
}
.comment__avatar-img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 4.5rem;
}
.comment__form-container {
  display: flex;
  border-bottom: 0.2rem solid #E1E1E1;
  padding-bottom: 1.6rem;
}
.comment__form-wrapper {
  padding-left: 1.6rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comment {
    padding: 3.6rem;
    padding-bottom: 0;
  }
}
.comment__form-container {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2.4rem;
}
.comment__avatar-img {
  height: 4.8rem;
  width: 4.8rem;
  margin-top: 3.9rem;
}
.comment__element {
  padding-bottom: 2.4rem;
}
.comment__button {
  width: 40%;
  min-width: 16rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.comment__button-wrapper {
  display: flex;
  justify-content: right;
}
@media screen and (min-width: 1280px) {
  .comment__form-container {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .comment__h2 {
    padding-left: 2.7rem;
  }
}

.comment-section {
  margin-bottom: 1.6rem;
}
.comment-section__img {
  height: 4.8rem;
  width: 4.8rem;
  background-color: #E1E1E1;
  border-radius: 50%;
  border: 0px;
}
.comment-section__container {
  display: flex;
  padding: 1.6rem;
  width: auto;
  border-bottom: 0.2rem solid #E1E1E1;
  padding-top: 2.4rem;
}
.comment-section__wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 1.6rem;
}
.comment-section__name-date-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .comment-section {
    margin-left: 11%;
    margin-right: 11%;
  }
}
@media screen and (min-width: 1280px) {
  .comment-section {
    margin-left: 30%;
    margin-right: 30%;
  }
}/*# sourceMappingURL=bio.css.map */