@use "./partials/mixin.scss" as *;
@use "./partials/variables.scss" as *;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "AvenirNext-Regular";
}

@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../assets/font/Alternative/AvenirNextLTProBold.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirNext-Demi";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype"),
    url("../assets/font/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../assets/font/Alternative/AvenirNextLTPro.ttf") format("truetype");
}

h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;

  @include tablet {
    font-size: 6rem;
    line-height: 6.8rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;

  @include tablet {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
}

.header {
  background-color: $primary-color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    padding: 1.6rem;
  }
  &__nav {
    width: 100%;
  }
  &__nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  &__nav-heading {
    color: $primary-color-white;
    font-family: "AvenirNext-Regular";
  }
  &__nav-list {
    width: 50%;
    text-align: center;
  }
  &__nav-link {
    color: $primary-color-white;
    text-align: center;
  }
  &__nav-list-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
  }
  &__nav-list-wrapper:hover{
    border-bottom: 0.3rem white solid;
    background-color: $secondary-color-darkblack;
  }
  &__nav-list-wrapper--active{
    border-bottom: 0.3rem $primary-color-white solid;
  }
}

footer{
  background-color: $primary-color-black;
  color: $primary-color-white;
}

.getintouch-social{
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
  &__heading{
    padding-bottom: 1.6rem;
  }
  &__img-wrapper{
    display: flex;
  }
  &__img{
    padding-right: 4rem;
  }
}

.footer-info-wrapper{
  padding-left: 1.6rem;
  &__padding{
    padding-bottom: 1.6rem;
  }
  &__copytext{
    @include footer-copy-text;
  }
  &__email-link{
    color: $primary-color-white;
  }

}

.footer-copyright{
  padding: 2.4rem 1.6rem 2.4rem 1.6rem;
  &__heading{
    padding-bottom: 1.6rem;
  }
  &__copytext{
    @include footer-copy-text;
  }
}
