html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "AvenirNext-Regular";
}

@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/font/Alternative/AvenirNextLTProBold.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/font/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/font/Alternative/AvenirNextLTPro.ttf") format("truetype");
}
h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 6.8rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  padding: 1.6rem;
}
.header__nav {
  width: 100%;
}
.header__nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.header__nav-heading {
  color: #FFFFFF;
  font-family: "AvenirNext-Regular";
}
.header__nav-list {
  width: 50%;
  text-align: center;
}
.header__nav-link {
  color: #FFFFFF;
  text-align: center;
}
.header__nav-list-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}
.header__nav-list-wrapper:hover {
  border-bottom: 0.3rem white solid;
  background-color: #000000;
}
.header__nav-list-wrapper--active {
  border-bottom: 0.3rem #FFFFFF solid;
}

footer {
  background-color: #323232;
  color: #FFFFFF;
}

.getintouch-social {
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
}
.getintouch-social__heading {
  padding-bottom: 1.6rem;
}
.getintouch-social__img-wrapper {
  display: flex;
}
.getintouch-social__img {
  padding-right: 4rem;
}

.footer-info-wrapper {
  padding-left: 1.6rem;
}
.footer-info-wrapper__padding {
  padding-bottom: 1.6rem;
}
.footer-info-wrapper__copytext {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer-info-wrapper__copytext {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
  }
}
.footer-info-wrapper__email-link {
  color: #FFFFFF;
}

.footer-copyright {
  padding: 2.4rem 1.6rem 2.4rem 1.6rem;
}
.footer-copyright__heading {
  padding-bottom: 1.6rem;
}
.footer-copyright__copytext {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer-copyright__copytext {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
  }
}/*# sourceMappingURL=global.css.map */