@use "./partials/mixin.scss" as *;
@use "./partials/variables.scss" as *;
.hero__wrap{
  content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(50, 50, 50, 0.5);
}
.hero-shows {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  &__image {
    object-fit: cover;
    object-position: center;
    height: 45vh;
    width: 100%;
    position: relative;
  }
  &__wrapper {
    position: absolute;
    color: $primary-color-white;
    width: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: auto;
    display: flex;
    flex-direction: column;
    
  }
  &__iframe{
    width: 100%;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  &__text{
    width: 90%;
  }
  &__heading4{
    padding-top: 2.4rem;
    font-weight: 400;
  }
  &__heading2{
    padding-top: 1.6rem;
  }
  @include tablet{
    justify-content: left;
    &__image { 
      height: 70vh;
    }
    &__wrapper {
      padding-left: 2.4rem;
      
    }
    &__iframe{
      padding-top: 3.6rem;
      padding-bottom: 3.6rem;
      width: 55%;
    }
    &__text{
      width: 80%;
    }
    &__heading4{
      padding-top: 3.6rem;
      font-weight: 600;
      font-size: 2.4rem;
    }
    &__heading2{
      padding-top: 2.4rem;
      font-size: 6rem;
      line-height: 6.8rem;
    }
  }
  @include desktop{
    &__wrapper{
      justify-content: space-evenly;
      flex-direction: row;
      align-items:end;
      width: 91%;
      padding-left: 4.5%;
      padding-right: 4.5%;
    }
    &__iframe {
      display: flex;
      align-items:end;
    }
    &__text{
      align-items: center;
      padding-top: 3.6rem;
      padding-bottom: 3.6rem;
    }
    &__heading2{
      width: 80%;
    }
  }
}
.shows{
  &__table{
    display: none;
  }
  &__wrapper{
    padding-bottom: 2.4rem;
  }
  &__heading2{
    font-weight: 900;
    font-size: 2.9rem;
    padding-left: 1.6rem;
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
  }
  &__element-button{
    margin-bottom: 1.6rem;
    width: 100%;
    height: 5rem;
    border-radius: 0.7rem;
    border: 0;
    background-color: $primary-color-black;
    color: $primary-color-white;
    font-size: 1.8rem;
    font-weight: 500;
  }
  &__element{
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 1.6rem;
    padding-top: 2.4rem;
    border-bottom: 0.2rem solid $secondary-color-mercury;
  }
  &__element-padding{
    padding-bottom: 1.2rem;
  }
  &__element-bold-text{
    font-weight: 900;
  }
  &__element-title{
    color: $secondary-color-mercury;
  }
  @include tablet {
    &__wrapper{
      display: none;
    }
    &__table-th{
      width: 100%;
      text-align: left;
      color: $secondary-color-mercury;
    }
    &__table{
      width: auto;
      margin-bottom: 2.4rem;
      margin-top: 2.4rem;
      margin-right: 2.4rem;
      margin-left: 2.4rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &__table-title-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      gap: 2.4rem;
      padding-bottom: 2.4rem;
    }
    &__table-title-container{
      width: 100%;
    }
    &__heading2{
      padding-left: 2.4rem;
    }
    &__table-body-wrapper{
      display: flex;
      flex-direction: column;
    }
    &__table-body-wrapper{
      width: 100%;
    }
    &__table-elem{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      text-align: left;
      gap: 2.4rem;
      padding-bottom: 2.4rem;
      padding-top: 2.4rem;
      border-bottom: 0.2rem solid $secondary-color-mercury;
    }
    &__table-elem-td{
      width: 100%;
      display: flex;
      align-items: center;

    }
    &__element-button{
      margin: 0;
    }
    &__table-elem-td-bold{
      font-weight: 900;
    }
  }
  @include desktop{
    display: flex;
    justify-content: space-between;
    &__table{
      margin-right: 6.3rem;
      margin-left: 6.3rem;
      width: 80%;
      margin-top: 5.2rem;

    }
    &__heading2{
      padding-left: 6.3rem;
      padding-top: 3.6rem;
      width: 20%;
    }
    &__table-title-wrapper{
      gap: 3.6rem;
      padding-bottom: 3.6rem;
    }
    &__table-title-container{
      display: flex;
      align-items: center;
    }
    &__table-elem{
      gap: 3.6rem;
    }
  }
}