.hero__wrap {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}

.hero-shows {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.hero-shows__image {
  object-fit: cover;
  object-position: center;
  height: 45vh;
  width: 100%;
  position: relative;
}
.hero-shows__wrapper {
  position: absolute;
  color: #FFFFFF;
  width: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: auto;
  display: flex;
  flex-direction: column;
}
.hero-shows__iframe {
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.hero-shows__text {
  width: 90%;
}
.hero-shows__heading4 {
  padding-top: 2.4rem;
  font-weight: 400;
}
.hero-shows__heading2 {
  padding-top: 1.6rem;
}
@media screen and (min-width: 768px) {
  .hero-shows {
    justify-content: left;
  }
  .hero-shows__image {
    height: 70vh;
  }
  .hero-shows__wrapper {
    padding-left: 2.4rem;
  }
  .hero-shows__iframe {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    width: 55%;
  }
  .hero-shows__text {
    width: 80%;
  }
  .hero-shows__heading4 {
    padding-top: 3.6rem;
    font-weight: 600;
    font-size: 2.4rem;
  }
  .hero-shows__heading2 {
    padding-top: 2.4rem;
    font-size: 6rem;
    line-height: 6.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-shows__wrapper {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: end;
    width: 91%;
    padding-left: 4.5%;
    padding-right: 4.5%;
  }
  .hero-shows__iframe {
    display: flex;
    align-items: end;
  }
  .hero-shows__text {
    align-items: center;
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }
  .hero-shows__heading2 {
    width: 80%;
  }
}

.shows__table {
  display: none;
}
.shows__heading2 {
  font-weight: 900;
  font-size: 2.9rem;
  padding-left: 1.6rem;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
.shows__element-button {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 5rem;
  border-radius: 0.7rem;
  border: 0;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 500;
}
.shows__element {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
  padding-top: 2.4rem;
  border-bottom: 0.2rem solid #E1E1E1;
}
.shows__element-padding {
  padding-bottom: 1.2rem;
}
.shows__element-bold-text {
  font-weight: 900;
}
.shows__element-title {
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .shows__wrapper {
    display: none;
  }
  .shows__table-th {
    width: 100%;
    text-align: left;
    color: #E1E1E1;
  }
  .shows__table {
    width: auto;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
    margin-right: 2.4rem;
    margin-left: 2.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .shows__table-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .shows__table-title-container {
    width: 100%;
  }
  .shows__heading2 {
    padding-left: 2.4rem;
  }
  .shows__table-body-wrapper {
    display: flex;
    flex-direction: column;
  }
  .shows__table-body-wrapper {
    width: 100%;
  }
  .shows__table-elem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    gap: 2.4rem;
  }
  .shows__table-elem-td {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-between;
  }
  .shows__table {
    margin-right: 6.3rem;
    margin-left: 6.3rem;
    width: 80%;
  }
  .shows__heading2 {
    padding-left: 6.3rem;
    padding-top: 3.6rem;
    width: 20%;
  }
  .shows__table-title-wrapper {
    gap: 3.6rem;
    padding-bottom: 3.6rem;
  }
  .shows__table-title-container {
    display: flex;
    align-items: center;
  }
  .shows__table-elem {
    gap: 3.6rem;
  }
}/*# sourceMappingURL=shows.css.map */